* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	background-size: auto 100vh;
	color: white;
	font-family: Calibri;
	height: 100vh;
	font-size: 15px;
}